@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    background: linear-gradient(to bottom, #d4c2a1, #ffffff, #e6f7e6);
    font-family: 'Poppins', Arial, sans-serif;
}

h1 {
    color: #5a5a5a;
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
}

p {
    color: #7a7a7a;
    font-size: 1rem;
    text-align: center;
    margin: 15px 0;
}

label {
    font-size: 1rem;
    color: #555;
    margin-top: 10px;
    text-align: left;
    width: auto;
    display: inline-block;
}

input[type="text"], input[type="number"] {
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    text-align: left;
    width: 500px;
    font-family: 'Poppins';
}

form p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.buttons-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type="button"], input[type="reset"] {
    background-color: #97af6a;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    font-family: 'Poppins';
    margin-right: 10px;
}

input[type="button"]:hover, input[type="reset"]:hover {
    background-color: #7f9458;
}

input[type="button"]:active, input[type="reset"]:active {
    background-color: #0b0f03;
    transform: scale(0.98);
}
